.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;  
  width: 100vw; 
}

.channel-list,
.channel-chat{
  float: left;
}

.channel-chat{
  /* make width of list & convo same on diff window size */
  width: 76%;
  float: right;
}